body {
  background-color: var(--main-bg);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--my-white);
  width: 100%;
  height: 100vh;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  transition: background-color 250ms ease;
}

.container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1280px;
}

:root {
  --my-white: #ffffff;
  --header-bg: rgb(124, 19, 235);
  --main-bg: #cc99f5;
  --error-color: rgb(213, 77, 77);
}

caption {
  margin: 20px 0;
  font-size: 36px;
}

table,
th,
td {
  border: 1px solid var(--header-bg);
  text-align: center;
}

th,
td {
  padding: 10px;
}

tr:hover,
tr:focus {
  background-color: var(--header-bg);
  cursor: pointer;
}

.btn_delete {
  fill: var(--my-white);
  background-color: transparent;
  transition: fill 250ms ease;
}

.btn_delete:hover,
.btn_delete:focus {
  fill: var(--main-bg);
}

input {
  cursor: pointer;
}
